.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
}

.button-container {
    background-origin: border-box;
    font-family: sans-serif;
    gap: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btn-con {
    background-color: rgb(255, 255, 255);
    border: dashed 2px rgb(250, 182, 182);
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}